<template>
    <div>
        <Detail />
    </div>
</template>

<script>
    // @ is an alias to /src
    import Detail from '@/components/DetailDogs.vue'

    export default {
        name: 'detail',
        components: {
            Detail
        }
    }
</script>
