<template>
    <div class="home">
        <Dogs/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import Dogs from '@/components/Dog.vue'

    export default {
        name: 'home',
        components: {
            Dogs
        }
    }
</script>
