<template>
    <div>
        <b-container class="bv-example-row mt-5" >
        <b-row>
            <b-col col md="8">
                <h3 class="capitalize">
                    <small>Dog: </small>{{ $route.params.id }}
                </h3>
            </b-col>
            <b-col col md="4" class="">
                <router-link to="/">
                    <h3 class="right">Volver</h3>
                </router-link>
            </b-col>
        </b-row>
        </b-container>
        <div class="pt-5">
            <b-card-group columns>
                <div>
                    <b-card
                        overlay
                        v-bind:img-src="dogImage"
                        v-for="dogImage in photosDogs"
                        class="p-3"
                    >
                    </b-card>
                </div>
            </b-card-group>
        </div>
    </div>
</template>

<script>

import axios from 'axios'

export default {
    name: 'Detail',
    data() {
        return {
            dogType: this.$route.params.id,
            urlDetail: `https://dog.ceo/api/breed/`,
            photosDogs: []
        }
    },
    created() {
        this.getImageDogs()
    },
    methods: {
        async getImageDogs() {
            let imageDogs = await axios.get(`${this.urlDetail}${this.dogType}/images/random/10`);
            this.photosDogs = imageDogs.data.message;
        }
    },
}
</script>
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }
    .capitalize {
        text-transform: capitalize;
    }

    .right {
        text-align: right;
        font-size: 18px;    
    }
</style>

