<template>
    <div class="container">
        <div class="search-wrapper pt-5 pb-5">
            <b-form-input v-model="search" placeholder="Search dog"></b-form-input>
        </div>
        <div>
            <b-card-group columns>
                <b-card v-for="(dog, index) in filteredList" text-variant="white" class="text-center">
                    <router-link :to="{ name: 'detail', params: {id: dog} }">
                    <b-card-text class="capitalize">
                        {{ dog }}
                    </b-card-text>
                    </router-link>
                </b-card>
            </b-card-group>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
import Detail from '@/components/DetailDogs.vue';

    export default {
        name: 'Dogs',
        props: {
            msg: String
        },
        data() {
            return {
                urlDogs: 'https://dog.ceo/api/breeds/list/all',
                search: '',
                dogsArr: []
            }
        },
        created(){
            this.getDogs();
        },
        methods: {
                async getDogs() {
                   let dogs = await axios.get(this.urlDogs);
                   this.dogsArr = Object.keys(dogs.data.message);
                }
        },
        computed: {
            filteredList() {
                return this.dogsArr.filter(dog => {
                    return dog.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }
    .capitalize {
        text-transform: capitalize;
    }
</style>
